@use '../utils';
@use '../theme';

// styles <aside> blocks that have been aligned to the side explicitly.
@include utils.journal-page('light', 'dark') using ($theme) {
    aside.right {
        @if ($theme == null) {
            width: calc(50% + theme.$journal-margin);
            margin-left: theme.$journal-margin;
            padding-left: theme.$journal-margin;
        }

        @include utils.themed(color, theme.$aside-text-color, $theme);
        @include utils.themed(background, theme.$aside-background, $theme);
    }
}
