@use '../utils';
@use '../theme';

@include utils.journal-page {
    text-align: justify;

    .ar {
        text-transform: uppercase;

        &::after {
            content: " AR";
            font-size: 14px;
            font-weight: bold;
            font-family: 'Amiri';
        }
    }
}