root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.{json, ts, scss}]
indent_style = tab
indent_size = 4

[module.json]
indent_style = space
indent_size = 2

[**/*-schema.json]
indent_style = space
indent_size = 2
