@use "sass:map";
@use "sass:color";

// Colouring
$primary: #5e0000;
$secondary: #171f69;
$tertiary: #e9d7a1;

// Typography
$text-size: 16px;
$text-light: var(--color-text-light-0);
$text-dark: var(--color-text-dark-primary);

// Whitespace
$journal-padding: 0.5em;

// Adventure namespace
$adventure-name: "adventure-template";

/**
 * Components
 */

// encounter blocks
$encounter-background: $tertiary;
$encounter-text: $text-dark;

// images
$shape-margin: 0.5em;

// narrate blocks
$narrate-background: $tertiary;
$narrate-background-hover: color.adjust($tertiary, $lightness: -20%);
$narrate-text: $text-dark;
$narrate-text-hover: $text-dark;

// roll blocks
$roll-background: $primary;
$roll-background-secret: $secondary;
$roll-text: $text-light;
$roll-text-secret: $text-light;

// aside blocks
$aside-background: transparent;
$aside-text: $secondary;
$aside-border-color: $secondary;

// tables
$table-header-background: $primary;
$table-header-text: $text-dark;
$table-header-background-roll: $tertiary;
$table-header-text-roll: $text-dark;

// traits (defaults to Paizo's colour scheme)
$trait-rarity-uncommon: var(--color-rarity-uncommon);
$trait-rarity-rare: var(--color-rarity-rare);
$trait-rarity-unique: var(--color-rarity-unique);
$trait-aligment: #5a829f;
$trait-size: var(--color-bg-size);

// Journal window
$journal-sidebar-background: $primary;
$journal-content-background: url(/ui/parchment.jpg) repeat;

/**
 * External components
 */

// Polyglot
$polyglot-background: var(--blind-roll);
$polyglot-border: 1px solid #720073;

/**
 * Mixins & functions
 */

@function asset($url) {
    @return url('/modules/#{$adventure-name}/assets#{$url}');
}

// mixin to wrap all custom styles with a selector for this module's journals only.
// change .adventure-template to the ID your module uses, don't forget to update it in constants.ts too.
@mixin journal-page {
    .sheet.journal-entry.#{$adventure-name} {
        @content;
    }
}

// helper mixin for when we want to style h1-h6
@mixin headings {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

/// usage: @include border-image('/assets/test.jpg', ("top": 1, "right": 2, "bottom": 3, "left": 4), 10px);
@mixin border-image($image, $border-slice, $width) {
    $top: map.get($border-slice, "top");
    $right: map.get($border-slice, "right");
    $bottom: map.get($border-slice, "bottom");
    $left: map.get($border-slice, "left");

    border-width: $width;
    border-style: solid;
    border-image-width: $width;
    border-image-repeat: repeat repeat; 
    border-image-outset: 0px 0px 0px 0px;
    border-image-slice: $top $right $bottom $left fill;
    border-image-source: asset($image);

    &.full-width {
        width: calc(100% - $width);
    }
}