// utility classes that don't necessarily belong to a specific component.
@use './theme.scss';
@use './functions/journal-page';

// re-export functions
@forward './functions/asset';
@forward './functions/border-image';
@forward './functions/headings';
@forward './functions/importer';
@forward './functions/journal-page';
@forward './functions/themed';

@include journal-page.journal-page {
	.right {
		float: right;
	}

	.full-width {
		width: calc(100% + theme.$journal-margin * 2);
		margin-left: - theme.$journal-margin;
		margin-right: - theme.$journal-margin;
		max-width: none;
	}
}
