// utility classes that don't necessarily belong to a specific component.
@use './theme.scss';

@include theme.journal-page {
    .right {
        float: right;
    }

    .full-width {
        width: calc(100% + theme.$journal-padding * 2);
        margin-left: - theme.$journal-padding;
        margin-right: - theme.$journal-padding;
        max-width: none;
    }
}
